body {
	font-family: monospace;
	margin: 0;
}

.heading, .body1, .body2, .body3, .body4 {
	padding: 20%;
}

h1, h2, p {
	margin: 0 auto;
	width: 50%;
	text-align: center;
}

p {
	text-align: justify;
}

.total {
	margin: 0;
	width: 100%;
}

.heading, .body2, .body4{
	background-color: grey;
}

.body1 , .body3{
	background-color: white;
}

.ending {
	border-top: 1px solid black;
	padding: 1%;
	margin-bottom: 10%;
}
